<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>LoboTeams</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center ion-padding">
  <img src="assets/loboBuap.jpg" alt="">

  <ion-button fill="clear" routerLink="/iniciarsesion">
    <ion-item>
      <ion-icon name="person" slot="start" size="large"></ion-icon>
      <ion-label>Iniciar Sesión</ion-label>
    </ion-item>
    
  </ion-button>

  <br>

  <ion-button fill="clear" routerLink="/registrarse">
    <ion-item>
      <ion-icon name="person" slot="start" size="large"></ion-icon>
      <ion-label>Registrarse</ion-label>
    </ion-item>
  </ion-button>

</ion-content>
