<ion-content class="ion-text-center ion-padding">
  <ion-card class="ion-padding ion-text-center">
    <ion-card-header>
      <ion-card-title>Lobo Teams</ion-card-title>
    </ion-card-header>
    <img  class="img" src="assets/loboBuap.jpg">
    
    <ion-card-content>
      <ion-button shape="round" fill="clear" routerLink="/iniciarsesion" class="ion-padding-horizontal">
        
          <ion-icon name="log-in" slot="icon-only" size="large"></ion-icon>
          Iniciar Sesión
        
      </ion-button>
  
      <ion-button shape="round" fill="clear" routerLink="/registrarse" class="ion-padding-horizontal">
        
          <ion-icon name="person-add" slot="icon-only" size="large"></ion-icon>
          <ion-label>Registrarse</ion-label>
        
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
