<ion-header [translucent]="true">
  <ion-toolbar>
    
    <ion-buttons slot="start">
      <ion-button (click)="regresar()">
        <ion-icon name="arrow-back"></ion-icon>
        <ion-label>Regresar</ion-label>
      </ion-button>
    </ion-buttons>

    <ion-title>Actividad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1> {{actividad.name}} </h1>
  <p>Fecha limite de entrega: {{actividad.date}} </p>
  <p>Hora limite de entrega: {{actividad.time}} </p>
  <h3>Instrucciones:</h3>
  <h4> {{actividad.descripcion}} </h4>

  <form *ngIf=!entregado>
    <input id="file-input" type="file" (change)="cargarArchivo($event)">

    <ion-button (click)="entregarActividad()" fill="clear">
      <ion-icon slot="icon-only" name="add-circle-outline" size="large"></ion-icon>
      <label>Entregar Actvidad</label>
    </ion-button>

  </form>

  <h3 *ngIf=entregado >Actividad entregada: </h3>
  <ion-button *ngIf=entregado (click)="abrirArchivoEntregado()">
    <ion-icon slot="icon-only" name="document" slot="start"></ion-icon>
    <label>Ver Actividad Entregada</label>
  </ion-button>

</ion-content>
