<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="Regresar"></ion-back-button>
    </ion-buttons>

    <ion-title>Clases Creadas</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-button (click)="AlertaCrearClase()" fill="clear">
      Crear Clase
      <ion-icon  size="large" name="add-circle-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>

  <ion-list class="ion-padding-horizontal">
    <h3>Mis Clases Creadas</h3>

    <app-clase-creada [ListaDeClases] = "ClasesCreadasU"> </app-clase-creada>

  </ion-list>

</ion-content>
