<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="Regresar"></ion-back-button>
    </ion-buttons>

    <ion-title>Chats</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h3>Chats de Clases Inscritas</h3>
  <ion-list>
    <app-chats-clases-inscritas [ListaDeClases] = "ClasesInscritas"></app-chats-clases-inscritas>
  </ion-list>

  <h3>Chats de Clases Creadas</h3>

  <ion-list>
    <app-chats-clases-inscritas [ListaDeClases]="ClasesCreadas"></app-chats-clases-inscritas>
  </ion-list>

</ion-content>
