<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="Regresar"></ion-back-button>
    </ion-buttons>

    <ion-title>Actividades</ion-title>

    <ion-button (click)="addActividad()" fill="clear" slot="end">
      <ion-icon  size="large" name="add-circle-outline"></ion-icon>
    </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-list>
    <h2 class="ion-padding-start">Actividades</h2>

    <ion-item *ngFor="let i of actividades" routerLink="/actividad">

      <ion-button [id]="i.id" expand="block" fill="clear" shape="round" size="large">
        <ion-icon slot="start" name="journal"></ion-icon>
        <h3>{{i.title}} </h3>
      </ion-button>

    </ion-item>

  </ion-list>

</ion-content>
