<ion-header [translucent]="true">
  <ion-toolbar>
    
    <ion-buttons slot="start">
      <ion-button (click)="regresar()">
        <ion-icon name="arrow-back"></ion-icon>
        <ion-label>Regresar</ion-label>
      </ion-button>
    </ion-buttons>

    <ion-title>Clase</ion-title>
    <p slot="end" class="ion-padding-end"> {{clase.code}} </p>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h2> {{clase.name}} </h2>
  <h4>Docente que la imparte: {{nombreDocente}} </h4>
  <h3>Descripción</h3>
  <p> {{clase.descripcion}} </p>
  
</ion-content>
