<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Bienvenido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list>

    <ion-button (click)="IrChats()" fill="clear">
      <ion-item>
        <ion-icon name="chatbubbles" slot="start" size="large"></ion-icon>
        <ion-label>Chats</ion-label>
      </ion-item>
    </ion-button>

    <ion-button routerLink="/calendario" fill="clear">
      <ion-item>
        <ion-icon name="calendar" slot="start" size="large"></ion-icon>
        <ion-label>Calendario</ion-label>
      </ion-item>
    </ion-button>

    <ion-button routerLink="/actividades" fill="clear">
      <ion-item>
        <ion-icon name="clipboard" slot="start" size="large"></ion-icon>
        <ion-label>Actividades</ion-label>
      </ion-item>
    </ion-button>

    <ion-button routerLink="/clases" fill="clear">
      <ion-item>
        <ion-icon name="school" slot="start" size="large"></ion-icon>
        <ion-label>Mis Clases Inscritas</ion-label>
      </ion-item>
    </ion-button>

    <ion-button routerLink="/clases-creadas" fill="clear">
      <ion-item>
        <ion-icon name="school" slot="start" size="large"></ion-icon>
        <ion-label>Mis Clases Creadas</ion-label>
      </ion-item>
    </ion-button>

    <ion-button routerLink="/todas-clases" fill="clear">
      <ion-item>
        <ion-icon name="barcode" slot="start" size="large"></ion-icon>
        <ion-label>Clases Existentes</ion-label>
      </ion-item>
    </ion-button>

    <ion-button class="ion-padding" (click)="Salir()" expand="block" shape="round">
      Salir
    </ion-button>

  </ion-list>
</ion-content>
