<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="Regresar"></ion-back-button>
    </ion-buttons>

    <ion-title>Mis Clases Inscritas</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-toolbar>
  
    <ion-button (click)="AlertaUnirseClase()" fill="clear" >
      Unirse a una Clase
      <ion-icon  size="large" name="log-in"></ion-icon>
    </ion-button>  
  </ion-toolbar>

  <ion-list class="ion-padding-horizontal">
    <h3>Mis Clases Inscritas</h3>

    <!-- <app-clase [ListaDeClases] = "ClasesInscritas"></app-clase> -->

    <app-clase-inscrita [ListaDeClases] = "ClasesInscritas"></app-clase-inscrita>


  </ion-list>

</ion-content>
