<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="Regresar"></ion-back-button>
    </ion-buttons>

    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center ion-padding">
  <img src="assets/loboBuap.jpg">
  <br>

  <form  #formularioInicio="ngForm" (ngSubmit)="onSubmit()" class="ion-padding">

    <ion-item class="ion-padding-top">
      <ion-input labelPlacement="floating" name="nombre" [(ngModel)]="Usuario.nombre" type="text" label="Nombre" required></ion-input >
    </ion-item>

    <!-- <ion-item>
      <ion-input  name="apellido" [(ngModel)]="Usuario.apellido" type="text" placeholder="Apellido" required></ion-input >
    </ion-item> -->

    <ion-item>
      <ion-input labelPlacement="floating" name="email" [(ngModel)]="Usuario.email" type="email" label="Correo" required></ion-input >
    </ion-item>

    <ion-item>
      <ion-input labelPlacement="floating" name="password" [(ngModel)]="Usuario.password" type="password" label="Contraseña" required></ion-input >
    </ion-item>

    <ion-item class="ion-padding-bottom">
      <ion-input labelPlacement="floating" name="confirmpassword" [(ngModel)]="Usuario.confirmpassword" type="password" label="Confirmar Contraseña" required></ion-input >
    </ion-item>

    <ion-button shape="round" type="submit" size="large" [disabled]="formularioInicio.invalid" class="ion-padding-vertical">
      Registrarse
    </ion-button>

  </form>

</ion-content>